
/* Importar fuentes custom */
@font-face{
    font-family: "yanone";
    src: url("fonts/yanone.ttf");
}
@font-face{
    font-family: "finger";
    src: url("fonts/finger.ttf");
}


/* Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "yanone", Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: url("../img/pattern.png");
    background-attachment: fixed;
    height: 100vh;
}

.clearfix{
    float: none;
    clear: both;
}

/* Barra de navegación */
header{
    width: 100%;
    height: 90px;
    background: rgba(53,103,164,0.8);
    position: fixed;
    text-transform: uppercase;
}

header ul{
    display: flex;
    justify-content: center;
    height: inherit;
    margin: 0px auto;
}

header ul li{
    display: inline-block;
    margin: 0 1%;
    height: inherit;
    line-height: 90px;
}

header a{
    display: block;
    padding: 0 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

header a:hover,
.router-link-active{
    background: rgba(0,0,0,0.8);
}

header #logo{
    font-family: "finger";
    font-size: 30px;
}

header #logo a{
    transition: color 500ms, transform 500ms;
}

header #logo a:hover{
    background: transparent;
    color: black;
    transform: scale(1.5);
}


/* Contenedor Principal */
#content{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0px 0px 40px black;
    background: rgba(255, 255, 255, 0.7);
    min-height: 90%;
    padding-top: 120px;
    border-left:1px solid #b7b7b7;
    border-right:1px solid #b7b7b7;
}


/* Pie de página */
footer{
    width: 75%;
    height: 10%;
    margin: 0 auto;
    padding: 15px 0;
    color: rgba(0, 0, 0, 0.5);
}


/* Sobre mi */
#title h1{
    font-family: "finger";
}