.container {
    padding: 10px 50px 50px 50px
}

.image{
    overflow: hidden;
    float: left;
    width: 48%;
}

.image img{
    width: 100%;
}

.data{
    float: left;
    width: 48%;
    margin-left: 4%;
}

.button-edit, .button-delete{
    width: 40%;
    float: left;
    margin: 2%;
    font-size: 17px;
    padding: 10px;
    display: block;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.button-edit{
    background: orange;
    border: 1px solid black;
}

.button-delete{
    background: red;
    border: 1px solid black;
}