#title{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

#title h1{
    font-size: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#title h2{
    font-size: 25px;
    color: gray;
    margin: 5px 0;
}

article.about{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 23px;
}

.about h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p{
    padding: 30px 0;
    text-align: justify;
}